@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html, body {
  height: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: url("..//..//img/home/fon1.png") 0 0/100% no-repeat;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  margin-left: 80px;
  margin-top: -20px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: 1100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.item_1 {
  margin-right: auto;
  font-size: 32px;
  letter-spacing: 5px;
}

.item_2 {
  padding: 0 30px 0 0;
}
.item_2:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.item_2:hover a {
  color: #6495ED;
}

.item_3 {
  padding: 0 30px 0 0;
}
.item_3:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.item_3:hover a {
  color: #6495ED;
}

.item_4:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.item_4:hover a {
  color: #6495ED;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.main__title {
  font-weight: 900;
  font-size: 55px;
  margin: 0px 0 0 65px;
  color: rgb(72, 61, 139);
  text-shadow: 2px 2px 0 rgb(72, 61, 139);
  margin: 0px 0 0 65px;
}

.main__button {
  margin: 40px 0 0 65px;
}
.main__button a {
  color: white;
}
.main__button button {
  width: 280px;
  height: 40px;
  background-color: #6495ED;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  font-weight: 600;
  font-style: italic;
  border-radius: 5px;
}
.main__button button:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0 7px 0 #4169E1;
          box-shadow: 0 7px 0 #4169E1;
}
.main__button button:active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: 0 3px 0 #4169E1;
          box-shadow: 0 3px 0 #4169E1;
}

.main__img {
  border-radius: 10px;
  border: 2px solid #6495ED;
}
.main__img img {
  height: 350px;
  width: 550px;
  padding: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}
.main__img img:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.about_us {
  font-family: Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 57px 0 0 110px;
  padding: 0 0 121px 0;
}

.about_us__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 430px;
  height: 300px;
  border: 2px double #6495ED;
  border-radius: 10px;
}
.about_us__img img {
  width: 380px;
  height: 250px;
  -webkit-transition: 1s;
  transition: 1s;
}
.about_us__img img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about_us__body {
  padding: 0 0 0 60px;
}

.about__title {
  font-size: 33px;
  font-weight: 900;
  color: #6495ED;
  text-shadow: 1px 1px 2px #6495ED;
}

.about_us__text {
  line-height: 25px;
  font-size: 15px;
  margin: 40px 0 0 0;
  max-width: 600px;
}

.fon {
  background-color: white;
  border-radius: 80px;
}

.title_services {
  text-align: center;
  margin: 20px 0 20px 85px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.services__card_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 5px outset #6495ED;
  border-radius: 15px;
  padding: 30px 0 0 0;
  font-family: Verdana, sans-serif;
  max-width: 320px;
  margin: 0 20px 20px 20px;
  background: url("..//..//img//home/fon1.png") 0 0/220% no-repeat;
}
.services__card_1:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: 1s;
  transition: 1s;
}

.services__card_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 5px outset #6495ED;
  border-radius: 15px;
  padding: 30px 0 0 0;
  font-family: Verdana, sans-serif;
  max-width: 320px;
  margin: 0 20px 20px 20px;
  background: url("..//..//img//home/fon1.png") 0 0/220% no-repeat;
}
.services__card_2:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: 1s;
  transition: 1s;
}

.services__card_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 5px outset #6495ED;
  border-radius: 15px;
  padding: 30px 0 0 0;
  font-family: Verdana, sans-serif;
  max-width: 320px;
  margin: 0 20px 20px 20px;
  background: url("..//..//img//home/fon1.png") 0 0/220% no-repeat;
}
.services__card_3:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: 1s;
  transition: 1s;
}

.services__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__img img {
  width: 200px;
  height: 150px;
}

.services__title {
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  font-style: italic;
}

.services__text {
  text-align: center;
  max-width: 380px;
  margin: 25px;
  padding: 0 10px 0 10px;
  line-height: 26px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contact__title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 60px 0 0 0;
}

.contact__name, .contact__telephone, .contact__email {
  margin: 15px 0 0 0;
  width: 500px;
  font-family: Verdana, sans-serif;
}

.contact__label {
  display: block;
  margin-bottom: 0.25rem;
}

.contact__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.contact__input::-webkit-input-placeholder {
  color: #212529;
  opacity: 0.4;
}

.contact__input::-moz-placeholder {
  color: #212529;
  opacity: 0.4;
}

.contact__input:-ms-input-placeholder {
  color: #212529;
  opacity: 0.4;
}

.contact__input::-ms-input-placeholder {
  color: #212529;
  opacity: 0.4;
}

.contact__input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.contact__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.contact__input:disabled,
.contact__input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

/* с плавающей этикеткой */
.contact__floating {
  position: relative;
}

.contact__input {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: calc(3.5rem + 2px);
  line-height: 1.25;
  padding: 1rem 0.75rem;
  background-color: #f5f5f5;
}

.contact__input:focus {
  outline: 0;
  border-bottom: 1px solid #03a9f4;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #eee;
}

.contact__label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: color 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, transform 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.contact__input::-webkit-input-placeholder {
  color: transparent;
}

.contact__input::-moz-placeholder {
  color: transparent;
}

.contact__input:-ms-input-placeholder {
  color: transparent;
}

.contact__input::-ms-input-placeholder {
  color: transparent;
}

.contact__input::placeholder {
  color: transparent;
}

.contact__input:not(:-moz-placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #03a9f4;
}

.contact__input:not(:-ms-input-placeholder) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #03a9f4;
}

.contact__input:focus,
.contact__input:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #03a9f4;
}

.contact__input:not(:-moz-placeholder-shown) ~ .contact__label {
  transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem);
  color: #03a9f4;
}

.contact__input:not(:-ms-input-placeholder) ~ .contact__label {
  transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem);
  color: #03a9f4;
}

.contact__input:focus ~ .contact__label,
.contact__input:not(:placeholder-shown) ~ .contact__label {
  -webkit-transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem);
          transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem);
  color: #03a9f4;
}

.contact__textarea_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #000;
  margin: 20px 0 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 120px;
          flex: 0 1 120px;
  background-color: #fff;
  height: 120px;
  border-radius: 3px;
}
.contact__textarea_message textarea {
  font-size: 21px;
  width: 500px;
}
.contact__textarea_message textarea:focus {
  -webkit-box-shadow: 1px 1px 14px #0000FF;
          box-shadow: 1px 1px 14px #0000FF;
}

.contact__button_submit {
  margin: 20px 0 0 0px;
}
.contact__button_submit button {
  width: 280px;
  height: 40px;
  background-color: #6495ED;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  font-weight: 600;
  font-style: italic;
  border-radius: 5px;
}
.contact__button_submit button:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0 7px 0 #4169E1;
          box-shadow: 0 7px 0 #4169E1;
}
.contact__button_submit button:active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: 0 3px 0 #4169E1;
          box-shadow: 0 3px 0 #4169E1;
}

.footer {
  text-align: center;
  margin: 20px 0 -25px 0;
}
.footer span {
  font-weight: 600;
}